<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form method="post" th:action="@{/board/list}">
<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>글제목</th>
        <th>내용</th>
        <th>작성일자</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}" th:object="${board}">
        <td>
            <a th:href="@{/board/list/{id}(id=*{id})}" th:text="*{id}"></a>
        </td>
        <td>
            <a th:href="@{/board/list/{id}(id=*{id})}" th:text="*{subject}"></a>
        </td>
        <td th:text="*{content}"></td>
        <td th:text="*{#temporals.format(regDt,'yyyy/MM/dd HH:mm')}" ></td>

    </tr>
    </tbody>
    </table>
    <button type="button" th:onclick="location.href='/board/write'" th:text="#{writer}"></button>
    </body>
</form>
</html>